.loginBody{
 margin: 0;
 padding: 0;
 background: url(loginImage.jpg);
 background-size: 500px 500px;
 background-position: center;
 font-family: sans-serif;
}

.loginBox{
 width: 310px;
 height: 310px;
 background: #000;
 color: #fff;
 top: 53%;
 left: 50%;
 position: absolute;
 transform: translate(-50%, -50%);
 box-sizing: border-box;
}

.avatar{
 width: 100px;
 height: 100px;
 border-radius: 50%;
 position: absolute;
 top: -50px;
 left: calc(50% - 40px);

}
h1{
 color: white;
 text-align: center;
}

.userInfo{
text-decoration: underline;
font-weight: bold;
}