html {
	
	font-family: Candara, sans-serif;
	font-size: 16px;	
	margin: auto;
	background-image: url(loginImage.jpg);
	background-size: cover;
	background-repeat: no-repeat
	background-position: center;
	color: white;
}
body {
	padding: 5px 2px 5px 2px;
	margin: 0;
}

p {
	padding: 5px 20px 5px 20px;
}
h1 {
	background-color: #313131;  
	padding: 15px 15px 15px 15px;
	border: 5px groove white;
	text-align:center;
}
h2 {
	background-color: #17223b;
	padding: 5px;
	border: 3px groove white;
	text-align:center;
}

h3 {
	color: white;
	text-align:center;
	background-color:#17223b;  
	vertical-align: middle; 
	padding:20px 47px;
}

.mainPage{
	text-align:left;
	border: 5px groove white;
}

.loginh2 {
	background-color: #525252;
	padding: 5px;
	border: 3px groove white;
	text-align:center;
}

form {
	text-align: center;
	padding: 5px;
}

.loginForm{
	background-color: #17223b;
}

.createTable{
	width: 50%;
	margin:auto;
}

.viewTable{
	width: 80%;
	margin:auto;
}

.img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.header{
	background-color: #414141; 
}

#page-container{
	position:relative;
	min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2 rem;    
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2 rem;            
}
.navBar{
	overflow: hidden;
	margin: auto;
	width: 100%;
}

.navBar a{
	float: left;
	color: white;
	padding: 5px 0px 10px 0px;
	text-decoration: none;
	font-size: 16px;
	width: 25%;
	text-align: center;
}

.navBar a:hover{
	background-color: #888888;
	color:white;
}

.navBar a.active{
  background-color: #17223b;
  color: white;
}

table, th, td{
	text-align: center;
	background-color: #17223b;
	border: 2px solid black;
	border-collapse: collapse;
	padding: 2px;
}
input:invalid {
	border: 2px solid red;
}

input:valid {
	border: 2px solid #969599;
}

.loginBox{
 width: 310px;
 height: 310px;
 background-color: #17223b;
 color: #fff;
 top: 53%;
 left: 50%;
 position: absolute;
 transform: translate(-50%, -50%);
 box-sizing: border-box;
}

.accountBox{
 width: 310px;
 height: 310px;
 background-color: #17223b;
 color: #fff;
 top: 53%;
 left: 50%;
 position: absolute;
 transform: translate(-50%, -80%);
 box-sizing: border-box;
}

input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.avatar{
 width: 100px;
 height: 100px;
 border-radius: 50%;
 position: absolute;
 top: -75px;
 left: calc(50% - 40px);

}

.userInfo{
text-decoration: underline;
font-weight: bold;
}

.italicize{
font-style: italic;
font-weight: bold;
}

.broke{
	background-color: red;
	color: white;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}
